@model KermesseApp.Models.tbl_moneda

@{
    ViewBag.Title = "VerMoneda";
}

<h2>VerMoneda</h2>

<div>
    <h4>tbl_moneda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_moneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.signo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.signo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
